# Describes a simple example flow that generates random numbers and then copies and links across 2 additional datasets

flow:
  source: input # uncomment to use the example generator
  # source: 'input/index' # uncomment to loop over an existing dataset
  stages: [example_stage0, example_stage1, print]
  drop: []

input:
  classname: ExampleGenerator
  dset_name: 'input/index'
  params:
    chunk_size: 1024

example_stage0:
  !include h5flow_modules/example_stage.yaml
  params:
    output_dset: 'example_stage0/example'

example_stage1:
  classname: ExampleStage
  requires:
      - 'example_stage0/example' # load simple input/index -> example_stage0/example references

      - name: 'example_stage0/example_idcs' # load indices as well (@example_stage0/example_idcs)
        path: 'example_stage0/example'
        index_only: True

      - name: 'input/index_once_referred' # load input -> example_stage0 -> input references
        path: ['example_stage0/example', 'input/index']
  params:
    output_dset: 'example_stage1/example'

print: # print the contents of the cache if in verbose mode
  classname: H5FlowTestStage
